$brown-900: #C87B4D;
$brown-800: #F2994A;
$brown-700: #F5CC6A;
$brown-600: #F0D3B5;

$dark-900: #221413;
$green-900: #1C543C;
$red-900: #9A2E34;
$white: #FFFFFF;

$font: 'Raleway', sans-serif;

// breakpoints
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$extra-4k: 1600px;