body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2, h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #C87B4D;
}
@media screen and (min-width: 768px) {
  h2, h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #221413;
}

button, a {
  font-size: 1rem;
  font-weight: 700;
}

.header {
  background: linear-gradient(83.1deg, rgba(154, 46, 52, 0) -0.08%, #C87B4D 93.59%), url("../../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.header .navbar .nav-link {
  color: #FFFFFF;
  margin-right: 56px;
}
.header .navbar .navbar-toggler-icon {
  background-image: url("../../assets/icons/menu.svg");
}
@media screen and (min-width: 992px) {
  .header .navbar .inputSearch {
    width: 124px;
    height: 40px;
    background-color: transparent;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 0;
  }
  .header .navbar .inputSearch::-moz-placeholder {
    color: #FFFFFF;
  }
  .header .navbar .inputSearch:-ms-input-placeholder {
    color: #FFFFFF;
  }
  .header .navbar .inputSearch::placeholder {
    color: #FFFFFF;
  }
}
.header .navbar .icon-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.header__introduction {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.header__title {
  color: #F0D3B5;
  margin: 33px 0;
}
.header__img {
  margin-bottom: 33px;
}
.header__paragraph {
  font-style: normal;
  line-height: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .header__paragraph {
    margin-bottom: 64px;
  }
}
.header__paragraph em {
  font-style: normal;
  line-height: 24px;
  color: #F5CC6A;
}
.header__paragraph strong {
  color: #F5CC6A;
  font-style: normal;
  line-height: 24px;
}
.header__invitations {
  list-style: none;
  padding: 0;
  display: flex;
}
@media screen and (min-width: 992px) {
  .header__invitations {
    margin-bottom: 19px;
  }
}
.header__invitation {
  margin-left: 8px;
}
.header__link-invite {
  margin-right: 45px;
}
.header__link-invite img {
  width: 16px;
}

.nominatedProjects__title {
  margin-top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
}
@media screen and (min-width: 992px) {
  .nominatedProjects__title {
    margin-top: 58px;
    font-size: 40px;
    font-weight: 600;
  }
}
.nominatedProjects__nominated {
  margin-top: 16px;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #C87B4D;
}
@media screen and (min-width: 992px) {
  .nominatedProjects__nominated {
    margin-bottom: 40px;
  }
}
.nominatedProjects__nominated em {
  font-weight: 700;
}
.nominatedProjects .wrapper-avatar {
  margin-top: 16px;
}
@media screen and (min-width: 992px) {
  .nominatedProjects .wrapper-avatar {
    margin-top: 32px;
  }
}
.nominatedProjects__card {
  background: #FFFFFF;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .nominatedProjects__card {
    max-width: 425px;
  }
}
.nominatedProjects__card-hover {
  transition-property: all;
  transition-delay: 10s;
}
.nominatedProjects__card-hover:hover .overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(34, 20, 19, 0.64) 0%, rgba(19, 20, 34, 0.88) 100%);
  border-radius: 8px 8px 0px 0px;
}
.nominatedProjects__card-hover:hover .overlay .navbar-nav {
  margin-top: 24px;
  margin-left: 24px;
  display: flex !important;
}
.nominatedProjects__card-hover:hover .overlay .navbar-nav .nav-item {
  margin-right: 25px;
}
.nominatedProjects__card-hover:hover .overlay .hover__content {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 137px;
  display: block;
  color: #FFFFFF;
}
.nominatedProjects__card-hover:hover .overlay .hover__content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.nominatedProjects__card-hover:hover .overlay .hover__content-about {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.nominatedProjects__card-hover:hover .overlay .like-icon {
  display: block;
  right: 24px;
  bottom: 24px;
}
.nominatedProjects__card-hover .navbar-nav {
  display: none !important;
  position: absolute;
}
.nominatedProjects__card-hover .hover__content {
  display: none;
}
.nominatedProjects__card-hover .like-icon {
  display: none;
  position: absolute;
}
.nominatedProjects__card .card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #221413;
}
.nominatedProjects__card .card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.nominatedProjects__card-chiapas {
  margin-bottom: 8px;
}
.nominatedProjects__card-avatar p {
  font-size: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.nominatedProjects__card-avatar p strong {
  font-size: normal !important;
  font-weight: 700;
}
.nominatedProjects__card .feature {
  margin-top: 24px;
  width: auto;
  height: 24px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 14px;
  border-radius: 16px;
}
@media screen and (min-width: 992px) {
  .nominatedProjects__card .feature {
    margin-top: 0;
  }
}
.nominatedProjects__card .feature--dev {
  background: #F2994A;
}
.nominatedProjects__card .feature--mvp {
  background: #221413;
  font-size: 12px;
  margin-left: 4px;
  margin-right: 4px;
}
.nominatedProjects__card .feature--uxui {
  background-color: #F5CC6A;
  width: auto;
}

.footer {
  margin-top: 24px;
  padding: 31px 0;
  background-color: #C87B4D;
}
@media screen and (min-width: 992px) {
  .footer {
    padding-bottom: 23px;
  }
}
.footer .navegation .nav-item {
  margin-bottom: 8px;
}
.footer .navegation .nav-item .nav-link {
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.footer .follow__text {
  margin-top: 24px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.footer .follow .nav-item {
  margin-bottom: 8px;
}
.footer .follow__link {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer .rrss {
  margin-top: 16px;
}
.footer .copyright {
  margin-top: 24px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer .poweredBy {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.button {
  border-radius: 100px;
  border: none;
  padding: 10px 15px;
  width: 150px;
  color: #FFFFFF;
}
.button--fill {
  background-color: #F2994A;
}
.button--without-fill {
  background-color: transparent;
  border: 1px solid #F2994A;
}/*# sourceMappingURL=style.css.map */