@use '../variables';
@use '../mixins';

.nominatedProjects {

    &__title {
        margin-top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 24px;

        @include mixins.responsive('lg'){
            font-size: 40px;
            font-weight: 600;
        }
    }

    &__nominated {
        margin-top: 16px;
        margin-bottom: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: variables.$brown-900;

        @include mixins.responsive('lg') {
            margin-bottom: 40px;
        }

        em {
            font-weight: 700;
        }
    }

    &__card {
        background: #FFFFFF;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        margin-bottom: 32px;

        @include mixins.responsive('lg') {
            max-width: 425px;
        }

        &-hover {
            transition-property: all;
            transition-delay: 10s;

            &:hover {
                .overlay {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(34, 20, 19, 0.64) 0%, rgba(19, 20, 34, 0.88) 100%);
                    border-radius: 8px 8px 0px 0px;
                    .navbar-nav{
                        margin-top: 24px;
                        margin-left: 24px;
                        display: flex!important;

                        .nav-item{
                            margin-right: 25px;
                        }
                    }

                    .hover__content{
                        padding-left: 24px;
                        padding-right: 24px;
                        margin-top: 137px;
                        display: block;
                        color: variables.$white;

                        &-title{
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 16px;
                            
                        }

                        &-about{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                            color: variables.$white;
                        }
                    }

                    .like-icon{
                        display: block;
                        right: 24px;
                        bottom: 24px;
                    }
                }
            }

            .navbar-nav {
                display: none!important;
                position: absolute;
            }

            .hover__content{
                display: none;
            }

            .like-icon{
                display: none;
                position: absolute;
            }

            

            
        }



        .card-title {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: variables.$dark-900;
        }

        .card-text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }

        &-chiapas {
            margin-bottom: 8px;
        }

        &-avatar {
            margin-top: 16px;

            p {
                font-size: normal;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;

                strong {
                    font-size: normal !important;
                    font-weight: 700;
                }
            }
        }

        .feature {
            margin-top: 24px;
            width: 54px;
            height: 24px;
            color: variables.$white;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            padding: 5px 14px;
            border-radius: 16px;

            &--dev {
                background: variables.$brown-800;
            }

            &--mvp {
                background: variables.$dark-900;
                font-size: 12px;
                margin-left: 4px;
                margin-right: 4px;
            }

            &--uxui {
                background-color: variables.$brown-700;
                width: 66px;
            }
        }
    }
}